//- //Admin Panel
mixin link(text, href, callback="", classes)
  //- //.test(x-text=`["${text}" ,window.state]`)
  .item.flex.p-4(
    class="hover:text-rose-500",
    :class=`'${text}' == window.state ? 'bg-[#00000022]' : ''`,
    @click.prevent=`window.setState('${text}; ${callback}')`
  )
    .decor(class="w-2 rounded" :class=`'${text}' == window.state ? 'bg-rose-500' : ''`)
    a.ml-2(href=href, class=`${classes}`)&attributes(attributes)| #{text}

mixin button-submit(text="Сохранить")
  button.col-span-2.mr-auto.mt-4.bg-blue-500.text-white.p-2.rounded(
    type="submit"
  ) #{text}

//- //Tail-wind Aleases
- var border = 'border border-solid border-gray-300';

mixin sidebar
  .sidebar(class=`bg-slate-700 text-slate-200`)
    .title.p-4.font-bold.text-2xl API points
    .list.grid.auto-rows-auto
      +link("User")
      +link("Product")
      +link("Card")
      +link("Payment")
      +link("Payment History")
  block

mixin form(name)
  form.p-4.flex.flex-col.grid-rows-1.grid-cols-2.gap-4(class="md:grid" name=name)
    input(type="hidden" name="formName" value=name)
    block
    
mixin form-field(labelText, placeholder='', name='', id='', type='text', classes='')
  .panel.grid.grid-row-2.gap-2.bg-gray-50.p-4.rounded-xl
    label.italic.text-gray-500(for=id) #{labelText}
    input(
      class=`${border} rounded focus:border-gray-400 p-2 text-gray-500`,
      type=type,
      name=labelText.toLowerCase(),
      id=id,
      placeholder=placeholder,
      class=`${classes}`
    )

mixin form-user
  +form('users')
    +form-field("User name", "Введите имя")
    +form-field("Email", "Ведите email")
    +button-submit

mixin form-product
  +form('products')
    +form-field("Product", "Наименование продукта")
    +form-field("Description", "Описание продукта")
    +form-field("Price", "Цена", type="number", step="0.01")
    +form-field("Quantity", "Количество", type="number", min="1")
    +form-field("Category", "Категория")
    +form-field("SKU", "Артикул")
    +form-field("Image", "Изображение", type="file")
    +button-submit

mixin form-card
  +form('users')
    +form-field("Card Number", "Введите номер карты", "cardNumber", "cardNumber", "text")
    +form-field("Cardholder Name", "Введите имя владельца карты", "cardholderName", "cardholderName", "text")
    +form-field("Expiration Date", "MM/YY", "expirationDate", "expirationDate", "text")
    +form-field("CVV", "Введите CVV", "cvv", "cvv", "text")
    +button-submit

mixin form-payments
  +form('payments')
    +form-field("Payment Amount", "Введите сумму платежа", "paymentAmount", "paymentAmount", "number", "w-full")
    +form-field("Payment Method", "Выберите способ оплаты", "paymentMethod", "paymentMethod", "text", "w-full")
    +form-field("Transaction ID", "Введите ID транзакции", "transactionId", "transactionId", "text", "w-full")
    +button-submit

mixin form-screen
  .if(x-show="window.state == 'User'")
    +form-user
  .if(x-show="window.state === 'Product'")
    +form-product
  .if(x-show="window.state === 'Card'")
    +form-card
  .if(x-show="window.state === 'Payment'")
    +form-payments

mixin table-row()
  tr.grid.grid-cols-1.m-2.my-4.shadow-md.rounded-xl.overflow-hidden(class="md:table-row")
    template(x-for="(row, index) in row", :key="index")
      td.grid.p-2.gap-2(class="md:inline-block grid-cols-[0.75fr_1fr] md:table-cell")
        span.shadow.p-2.rounded.bg-slate-700.text-slate-200(x-text="window.dataTable[window.state].head[index]", class="md:hidden")
        span.p-2(x-text="row")

mixin table-head
  thead.grid.hidden(class="md:table-row")
    //.test(x-text="window.dataTable" class="absolute bg-blue-500 p-4 text-white")
    template(x-for="(data, index) in window.dataTable[window.state].head")
      th(class="text-left pl-6 p-2 bg-slate-700 text-slate-200" x-text="data")

mixin table
  table(
    class="p-4 w-full border-separate"
    x-data="{rows: window.dataTabel[window.state].rows, head: window.dataTabel[window.state].head}"
  )
    +table-head
    tbody(class="bg-slate-600 text-slate-300")
        template(x-for="row in window.dataTable[window.state].rows")
          +table-row

mixin window
  .window(class="h-fullw-full bg-gray-100")
    .form-container.p-4
      h2.title(x-text="window.state" class="text-2xl font-bold")
      +form-screen
    +table


mixin app
  .app(class="", x-data="dataStore")
    +sidebar
    +window
